@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
  }

  body {
    @apply bg-void text-white font-sans antialiased overflow-hidden;
  }
}

@layer utilities {
  .snap-y-mandatory {
    scroll-snap-type: y mandatory;
  }

  .snap-center {
    scroll-snap-align: center;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}